
    
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    <!-- Quote -->

    <div class="quote">

    <!-- Full Quote  -->

      <ul id="list">
        <div *ngFor="let quote of quote;let i=index" >
          <li> 
            <p class="user1">Title : {{quote.quoteTitle}}</p>
            <button (click)="toggleDetails(i)"> Show Quote </button>
          </li>
            
          <div class="details">
            <app-quotes-details *ngIf='quote.showDescription' [quote]='quote' (isComplete)="deleteQuote($event,i)"></app-quotes-details>
          </div>
        </div>
      </ul>
    </div>
