/* You can add global styles to this file, and also import other style files */
*{
    /* background-image: url(./assets/bg.jpg); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */

}

p{
  margin-left: 25rem;
  padding: 0.8rem;
}

h1{
    text-align: center;
    color: rgb(131, 8, 131);
}
 
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .nav-item{
   display: inline;
   float: left;
   /* padding: 10px; */
   margin-top: 50px; 
   padding-left: 150px;
} 
.nav-item a {
    display: block;
    padding: 8px;
    font-size: large;
    font-weight: 500;
    font-family: sans-serif;
  }
  a:link {
    color: rgb(7, 14, 117);
    background-color: transparent;
    text-decoration: none;
  }
  /* a:visited {
    color: rgb(192, 21, 49);
    background-color: transparent;
    text-decoration: none;
  } */
  a:hover {
    color: rgb(103, 167, 116);
    background-color: transparent;
    text-decoration: underline;
  }

  /* quotes styles after submission */

#list{
  border: 1.5px solid #73AD21;
  margin-left: 10rem;
  margin-right: 10rem;
  list-style: none;
  border-radius: 1rem;
  text-decoration: none;
  background-color: #00d1e4;
} 
/* #list:first-child{
  color: chocolate;
} */

#list .user1{
  margin-left: 14rem;
}

button {
  opacity: 0.7;
  margin-left: 16.5rem;
}

.delete img{
  max-width: 20px;
  max-height: 20px;
}

/* Like, Delete and Unlike */

.delete #like {
  margin: 6px;
  margin-left: 2rem;
}

.delete #unlike {
  margin: 6px;
}

.delete #delete {
  margin: 6px;
  margin-left: 37rem;
}

/* form */

#form {
margin-left: 20rem;
margin-right: 20rem;
padding: 20px;
background-color: #cffbff;
border-radius: 1rem;
margin-bottom: 1rem;
}

.form-label-author {
  padding: 1rem;
  margin-left: 1.5rem;
}

.form-control-author{
  border-style: hidden;
  margin-left: 1.4rem;
}

/* Quote Details */

.mb-1 {
  padding: 1rem;
}
.form-label-details{
  padding: 1rem;
}

.form-control-details {
  resize: vertical;
  border-style: hidden;
}

/* Quote Title */

.mb-2 {
  padding: 1rem;
  margin-left: 1rem;
}

.form-control-title {
  margin-left: 1rem;
  border-style: hidden;
}

/* Quote Date */

.form-group {
  margin-left: 2rem;
}

.form-group-date {
  margin-left: 1rem;
}

.Quote-Description {
  margin-left: 1.2rem;
  font-style: italic;
}

.descriptions li{
  display: inline;
  padding: 6.5rem;
  color: rgba(255, 0, 0, 0.548);
}
.author li{
  display: inline;
  padding: 6.5rem;
  color: rgba(255, 0, 0, 0.548);
}


