      <h2>create your own quote here!</h2>
    
      
      <div class="container">
      <form (ngSubmit)='submitQuote()' #quoteform="ngForm" id="form" id="forum" class="container">
        <div class="row">
            <div class="col-md-3">
        <div class="mb-3">
          <label for="userName" class="form-label-author">Author : </label>
        
          <input type="text" class="form-control-author" id="userNameInput" [(ngModel)]="newQuotes.userName" name="userName" #userName='ngModel' required placeholder=" author ">
          <!-- <p> display {{newQuotes.userName}}</p> -->
          <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
            <p>Name is required</p>
            <!-- {{newQuotes.userName}} -->
          </div> 
        </div>
        
      </div>
        <!-- Quote Details -->
        <div class="mb-1">
          <div class="col-md-3">
        <label for="quoteDescription" class="form-label-details">Your Qoute : </label>
        <textarea type="text" class="form-control-details" id="quoteDescriptionInput" [(ngModel)]="newQuotes.quoteDescription" name="quoteDescription" #quoteDescription='ngModel' placeholder="quote"></textarea>
        <div [hidden]="quoteDescription.valid || userName.pristine" class="alert alert-danger">
          <p>Quote is required</p>
         
        </div>
      </div>
    </div>
      <!-- Quote Title -->

      <div class="mb-2">
        <div class="col-md-3">
        <label for="quoteTitle" class="form-label-title">Quote Title : </label>
        
        <input type="text" class="form-control-title" id="quoteTitleInput" [(ngModel)]="newQuotes.quoteTitle" name="quoteTitle" #quoteTitle='ngModel' placeholder="quote title">
        <div [hidden]="quoteTitle.valid || userName.pristine" class="alert alert-danger">
          <p>Quote Title is required</p>
        </div>
      </div>
    </div>
     <!-- Quote Date -->

      <div class="form-group">
        <div class="col-md-3">
        <label for="complete">Submitted on : </label>
          <input type='date' id="complete" class="form-group-date" required> <br>
          <button  type="submit" class="btn btn-success"> Add Quote </button>
      </div>
    </div>
    
  </div>
  </form>
</div>
 
