      <h2>create your own quote here!</h2>
      <p> Borders box are hidden </p>
    <form #quoteform="ngForm" id="form">

      <!-- Quote Author -->

        <div class="mb-3">
          <label for="userName" class="form-label-author">Author : </label>
        
          <input type="text" class="form-control-author" id="userNameInput" [(ngModel)]="newQuotes.userName" userName="userName" #userName='ngModel' required placeholder=" author ">
          <p> display {{newQuotes.userName}}</p>
          <!-- <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
            <p>Name is required</p>
            Display {{newquote.userName}}
          </div> -->
        </div>
        

        <!-- Quote Details -->

        <div class="mb-1">
        <label for="quoteDescription" class="form-label-details">Your Qoute : </label>
        
        <textarea type="text" class="form-control-details" id="quoteDescriptionInput" placeholder="quote"></textarea>
      </div>

      <!-- Quote Title -->

      <div class="mb-2">
        <label for="quoteTitle" class="form-label-title">Quote Title : </label>
        
        <input type="text" class="form-control-title" id="quoteTitleInput" placeholder="quote title">
      </div>
    <!-- Quote Date -->

      <div class="form-group">
        <label for="complete">Submitted on : </label>
          <input type='date' id="complete" class="form-group-date" required> <br>
          <button  type="submit" class="btn btn-success" style="margin-top: 1rem;"> Add Quote </button>
      </div>
    </form>
   
  <!-- <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div> -->
